.list {
  font-size: 1.5rem;
  color: var(--text-light-color);
  list-style: none;
  display: flex;
  align-items: center;
  background-color: var(--text-dark-color);
  width: fit-content;
  margin: 4rem auto;
  border-radius: 10rem;
  padding: 0.2rem;
}

.list__item {
  padding: 2rem;
  cursor: pointer;
}

.list__itemActive {
  background-color: var(--accent-color);
  color: var(--text-dark-color);
  border-radius: 10rem;
  border: none;
  animation: enlarge 0.3s ease-in;
}

@keyframes enlarge {
  0% {
    opacity: 0;
    border-radius: 100%;
  }

  100% {
    opacity: 100%;
  }
}
