.circleBar {
  width: 57rem;
  height: 57rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 50%;
  box-shadow: -10px -10px 40px 0px rgba(255, 255, 255, 0.3);
  border: 2rem solid #1c2138;

  background: linear-gradient(to right bottom, #111423, #1c2138);
}

.CircularProgressbar-trail {
  stroke: red;
}
